.venv
.env
/oracle
pycache
/oracle
/pycache
uploads/
app/uploads/
./uploads
.log 
/.log
app/app_container.log
.DS_Store
app/manual_download/
app_container.log
app/app_container.log
app_container.log 
app/.log 
app/logs
app/logs/
app/logs/app.log
app/waves
app/order_data.xlsx
app/order_data.xlsx
processed_offers.xlsx
multi_subject_affairs.xlsx
subject_counts.xlsx
app/order_data.xlsx
multi_subject_affairs
processed_offers
app/order_sorted.xlsx
temp_offer_insert.py
2025.06.02 Подбор квартир (полный).xlsx
*.xlsx