.venv
.env
pycache
/pycache
uploads/
app/uploads/
./uploads
.log 
/.log
app/app_container.log
.DS_Store
app/manual_download/
app_container.log
app/app_container.log
app_container.log 
app/.log 
app/logs
app/logs/
app/logs/app.log
app/waves