backend/.env 
backend/__pycache__
backend/.venv 
build/*
.env
frontend/resettlement_department/.env 
__pycache__ 
/__pycache__
backend/__pycache__
backend/auth/__pycache__
backend/dao/__pycache__
backend/schema/__pycache__
backend/service/__pycache__
backend/auth/__pycache__
../../resettlement_department/app/app_container.log
.DS_Store
