.venv
.venv/
backend/.env 
backend/__pycache__
backend/.venv 
build/*
.env
.log
frontend/resettlement_department/.env 
__pycache__ 
/__pycache__
backend/__pycache__
backend/auth/__pycache__
backend/dao/__pycache__
backend/schema/__pycache__
backend/service/__pycache__
backend/auth/__pycache__
../../resettlement_department/app/app_container.log
.DS_Store
frontend/resettlement_department/build/
frontend/resettlement_department/build1/
backend/resettlement_department/.vscode/settings.json
.env.*
